* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }
  body { 
      font: 13px Helvetica, Arial; 
      background: #eee;
  }
  form { 
      border:1px solid #000; 
      padding: 10px; 
      position: fixed; 
      bottom: 0; 
      width: 100%; 
      margin: 0 auto;background: wheat;
  }
  form input { 
      border: 2px solid rgb(139, 138, 138); 
      padding: 10px; 
      width: 100%; 
      margin-right: .5%;
  }
  form #n { 
      border: 2px solid rgb(139, 138, 138); 
      padding: 10px; 
      width: 200px; 
      margin-right: .5%;
  }
  form button { 
      width: 150px; 
      background: rgb(130, 224, 255); 
      border: none; 
      padding: 10px; 
  }
  #messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
  }
  #messages .mesDiv { 
    margin: 10px 0 0 10px;
    padding: 5px 10px; 
    font-size: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    /* justify-content: flex-end; */
  }
  /* #messages li:nth-child(odd) { 
      background: #eee; 
  } */
  .form_border { 
      margin-bottom: 10px;
  }
  .form_border span {
      padding: 3px;
      display: flex;
  }
  /* .mesDiv div {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
  } */
  #messages .mesMe {
    margin: 10px 0 0 10px;
    padding: 5px 10px; 
    font-size: 20px;
    border: 1px solid rgb(9, 255, 0);
    background-color: rgb(9, 255, 0);
    border-radius: 20px;
  }